<header class="header">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    {% assign tech_culture_page = site.pages | where: 'category', 'culture' %}
    {% assign tech_post = site.pages | where: 'type', 'tech' %}

    {%- if titles_size > 0 -%}
    <div class="container">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <img src="/assets/img/logo.png" alt="" style="height:30px;">
      </a>
      <nav>
        <ul class="list-container">
          <li><a href="{{ tech_culture_page.first.url }}" >팀 문화</a></li>
          <li><a href="/tech" >개발</a></li>
          <li><a href="/recruit" >채용</a></li>
        </ul>
      </div>
      </nav>
    {%- endif -%}
</header>
