<section class="card-detail-header">
  <div class="container">
    <div>
      {% assign member = site.data.members | where: 'key', page.member | first
      %} {% if member %}
      <img src="{{ page.header-img }}" />
      {% endif %}
    </div>
    <h3>{{ page.title }}</h3>
    <div class="member-info-container">
      <img src="{{ member.img }}" alt="" class="detail-member-image" />
      <p class="card-detail-text">
        <span>
          {% assign member = site.data.members | where: 'key', page.member |
          first %} {% if member %} {{ member.name }} {% endif %}
        </span>
        {{ page.date }}
      </p>
    </div>
  </div>
</section>
