<li class="card">
  <a href="{{ page.url | prepend: site.baseurl }}">
    <div class="card-info transition">
      <h3 class="card-title">{{ page.title }}</h3>
      <p class="card-sub">{{ page.subtitle }}</p>
      <p class="card-date">
        {{ page.date }}
        <span>
          {% assign writer = site.data.members | where: 'key', page.writer |
          first %} {% if writer %} {{ writer.name }} {% endif %}
        </span>
      </p>
    </div>
    <div class="img-wrap">
      {% assign writer = site.data.members | where: 'key', page.writer | first
      %} {% if writer %}
      <img src="{{ writer.img }}" class="card-img" />
      {% endif %}
    </div>
  </a>
</li>
