{% assign member = site.data.members | where: 'key', page.member | first %}

<li class="card">
  <a href="{{ page.url | prepend: site.baseurl }}">
    <div class="card-info transition">
      <h3 class="card-title">{{ page.title }}</h3>
      <p class="card-sub">{{ page.subtitle }}</p>
      <p class="card-date">{{ page.date | date: "%Y-%m-%d" }}</p>
    </div>
    <div class="img-wrap">
      {% if member %}
      <img src="{{ member.img }}" class="card-img" />
      {% endif %}
    </div>
  </a>
</li>
